@media (max-width: 360px) {
    .header .header-right-info ul li .single-header-right-info .icon-box {padding-left: 0;}
    .header .header-right-info ul li .single-header-right-info .text-box {min-width: 172px;}
    #minimal-bootstrap-carousel .carousel-caption a.thm-button {margin: 0;margin-bottom: 30px;}
    #minimal-bootstrap-carousel .carousel-inner .item {min-height: 600px;}
    .full-img-sec{
    height: 100%;
    }
    .full-img-sec .left-content {
    padding: 0;
    padding-left: 0px;
    }
    .full-img-sec .list_item p:not(.support) {
    border-right:none;
    }
    .full-img-sec .list_item p {
    float: none;
    width: 66%;
    }

}


@media(max-width: 1024px) {
    .thm-container {padding: 0 15px;}
    img {max-width: 100%}

	.navbar-header {width: 100%; float: none; margin: 0 !important; }
	.navbar-nav {margin: 0; }
	.navbar-default .navbar-toggle {display: block; margin-right: 0; border-color: #000; background-color: transparent !important; }
    .navbar-default .navbar-toggle:hover {border-color: #C4D114;}
    .navbar-default .navbar-toggle .icon-bar {background: #000;}
    .navbar-default .navbar-toggle:hover .icon-bar {background: #C4D114;}
    .navbar-collapse.collapse {display: none!important; height: 0!important; padding-bottom: 0; overflow: auto!important; width: 100%; }
    .navbar-default .navbar-collapse {background: #000000; padding: 0px 0px !important; padding-bottom: 0px !important; border: 1px dashed rgba(255, 255, 255, 0.4); margin: 0; }

    .navbar-collapse.collapse.in {display: block !important; height: auto !important; max-height: 70vh; margin-top: 20px;}
    .navbar-collapse.in {overflow-y: auto; }
    .header #main-navigation .nav {width: 100%; text-align: left; }


	#main-navigation-wrapper .navbar-nav .dopdown-nav-toggler {background-color: transparent; background-image: none; border: 1px solid #fff; border-radius: 4px; padding: 9px 9px; position: absolute;top:0;right:0;margin-top: 8px; margin-right: 10px; z-index: 999;}
    #main-navigation-wrapper .navbar-nav .dopdown-nav-toggler .icon-bar {background-color: #fff; border-radius: 1px; display: block; height: 1px; width: 20px; }
    #main-navigation-wrapper .navbar-nav .dopdown-nav-toggler .icon-bar + .icon-bar {margin-top: 4px; }


    #main-navigation-wrapper .nav {width: 100%;}
    #main-navigation-wrapper .navbar-form {width: 100%;display: block;border: none;}
    #main-navigation-wrapper .nav > li {display: block;padding: 0;width: 100%;}
    #main-navigation-wrapper .nav > li > a {display: block;padding: 15px 15px;width: 100%;position: relative; color: #FFF;}
    #main-navigation-wrapper .nav > li + li > a {padding: 15px 15px;border-top: 1px dashed rgba(255, 255, 255, 0.4);position: relative;}
    #main-navigation-wrapper .navbar-nav > li > .dropdown-submenu {position: relative;width: 100%;opacity: 1;visibility: visible;left:auto;right:auto;transform: translate3d(0px, 0px, 0px);transition: none !important;display: none;top:auto;float: none;}

    .welcome-section .single-welcome-box {padding: 20px;}
    .welcome-section .single-welcome-box .icon-box, .welcome-section .single-welcome-box .text-box {display: block;margin: 0;padding: 0;text-align: center;}
    .welcome-section .single-welcome-box .icon-box {margin-bottom: 15px;}
    .getting-started h3 {
    margin-top: 43px;
    color: #FFF;
    float: left;
    font-size: 27px;
    }
    .full-img-sec .img-box img {max-width: none;}
    .full-img-sec .left-content {padding-top: 60px;padding-bottom: 60px;}
    .statics ul {margin-left: -20px;margin-right: -20px;}
    .statics ul li {padding: 0 20px;}

    .about-cta .single-count-box {text-align: center;}
    .about-cta .single-count-box .box .number-box, .about-cta .single-count-box .box .text-box {display: block;margin: 0;padding: 0;}
    .about-cta .single-count-box .box .number-box {padding-bottom: 20px;padding-top: 10px;}

    .page.with-sidebar.left .right-box {margin-top: 40px;padding-left: 0;}
    .service-single-page {overflow: hidden;}
    .service-single-page .mlm30 {margin: 0;}
    .service-single-page .sec-title {margin-top: 40px;}
    .single-sidebar-widget .single-service-broucher p {font-size: 20px;}

    .page.with-sidebar.right .right-box {padding-left: 0;}
    .page.with-sidebar.right .left-box {margin-right: 0;}

    .page.with-sidebar.left .right-box {padding-right: 0;}
    .page.with-sidebar.left .left-box {margin-left: 0;}

    .career-page .single-apply-box .top-box .text-box {font-size: 15px;}
    .project-two .single-project-item .img-holder .overlay .box {padding-left: 20px;padding-right: 20px;}
    .project-two .single-project-item .img-holder .overlay .box .content p {font-size: 15px;}
}


@media(max-width: 768px) {
    .header .logo {width: 100%;text-align: center;margin-bottom: 40px;}
    .top-nav li {
        float: left;
        color: #63839c;
        font-size: 14px;
        padding-right: 5px;
    }
    .header .header-right-info {width: 100%;text-align: center;}
    .header .header-right-info ul li:first-child .single-header-right-info .icon-box {padding-left: 0;}
    .header .header-right-info ul li .single-header-right-info .text-box {text-align: left;}

    .faq-sec .right-box {padding-left: 0;}
    .testi-carousel {margin-bottom: 50px;}
    .single-blog-post .img-box {display: inline-block;}
    .right-box .single-blog-post {margin-top: 50px;}
    .footer {padding-bottom: 20px;}
    .footer-widget {margin-bottom: 50px;}
    .statics {overflow: hidden;}
    .about-section .text-box {padding-left: 0;margin-top: 50px;}
    .about-company-history {margin-bottom: 50px;}
    .about-cta .title-box {overflow: hidden;}
    .about-cta .title-box h3 {text-align: left;margin: 0;}
    .about-cta .title-box .right-text-box {border: none;padding-left: 0;margin-left: 0;}
    .service-single-page .icon-box-wrapper {margin-bottom: 40px;}
    .description-box ul.list-box {padding-left: 0;margin-top: 20px;}
    .page.with-sidebar.left .pull-left,
    .page.with-sidebar.left .pull-right,
    .page.with-sidebar.right .pull-left,
    .page.with-sidebar.right .pull-right {width: 100%;}
    .project-filter li span {margin-bottom: 20px;}
    .project-two .single-project-item .img-holder .overlay .box .content {transform: translate3d(0px, 95px, 0px);}
    .contact-info-box {margin-bottom: 50px;}
    .getting-started h3 {
    margin-top: 43px;
    color: #FFF;
    float: left;
    font-size: 20px;
}
    a.getting-started-button {
    margin-top: 34px;
    padding: 10px 10px;
    background: #393939 !important;
    border: 1px solid #191919 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;
    border-radius: 4px;
    text-transform: uppercase;
    float: right;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.full-img-sec::before {
    display: none;
}
.full-img-sec::after {
    content: '';
    width: 100%;
    height: 100%;
    background: url(../images/full-img-2.jpg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.full-img-sec .left-content {
    padding-top: 10px;
    padding-bottom: 60px;
}
.our-cases .img-holder{
    float: none;
    margin-bottom: 70px;
}
.our-cases .img-holder img{
    min-width: 100%;
    max-width: 100%;

}
}

@media (max-width: 640px) {
    .header {padding-bottom: 24px;}
    .header .header-right-info ul li {margin-bottom: 15px;}
    .header .header-right-info ul li + li .single-header-right-info {border: none;}
        .full-img-sec{
    height: 100%;
    }
    .full-img-sec .left-content {
    padding: 0;
    padding-left: 0px;
    }
    .full-img-sec .list_item p:not(.support) {
    border-right:none;
    }
    .full-img-sec .list_item p {
    float: none;
    width: 66%;
    }
    a.getting-started-button {
    margin-top: 13px;
    margin-bottom: 20px;
    float: left;
    }

}

@media (max-width: 480px) {
    .sec-title h2 {line-height: 40px;}
    .header .header-right-info ul li + li .single-header-right-info {padding: 0;margin-left: 0;}
    #minimal-bootstrap-carousel .carousel-caption h2,
    #minimal-bootstrap-carousel .slide-3 .carousel-caption h2 {font-size: 30px;line-height: 40px;}
    #minimal-bootstrap-carousel .carousel-caption p {font-size: 16px;}
    #minimal-bootstrap-carousel .carousel-caption p br,
    #minimal-bootstrap-carousel .carousel-caption h2 br,
    #minimal-bootstrap-carousel .slide-3 .carousel-caption span.border,
    #minimal-bootstrap-carousel .slide-2 .carousel-caption span.border {display: none;}
    .full-img-sec .img-box img {width: 100%;}
    .statics ul li h3 {font-size: 35px;}
    .footer-bottom .pull-left,
    .footer-bottom .pull-right {text-align: center;width: 100%;}
    .single-product-item {
    text-align: center;
    margin-bottom: 60px !important;}
        .full-img-sec{
    height: 100%;
    }
    .full-img-sec .left-content {
    padding: 0;
    padding-left: 0px;
    }
    .full-img-sec .list_item p:not(.support) {
    border-right:none;
    }
    .full-img-sec .list_item p {
    float: none;
    width: 66%;
    }

}
@media (min-width: 1025px) {
    #main-navigation-wrapper .navbar-nav .dopdown-nav-toggler {
        display: none;
    }
    #main-navigation-wrapper .navbar-nav > li > .dropdown-submenu {display: block !important;}
}
